{% extends 'base.html.twig' %}

{% block contenu %}
{{ form_start(form, { 'attr' : {'novalidate':'novalidate'}}) }}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3><center>
				Créer Stage
			</center></h3>
		</div>
	</div>

	<div class="row">
        <div class="col-md-4">
	    </div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
			<form role="form">

                        <div class="form-group">
                                        {{ form_label(form.titre,"Titre du stage") }}
                                        {{ form_widget(form.titre) }}
                        </div>

                        <div class="form-group">
                                {{ form_label(form.descriptif,"Description du stage") }}
                                {{ form_widget(form.descriptif) }}
                        </div>

                        <div class="form-group">
                                {{ form_label(form.dateDebut,"dateDebut") }}
                                {{ form_widget(form.dateDebut) }}
                        </div>
												<div class="form-group">
                                {{ form_label(form.duree,"Duree") }}
                                {{ form_widget(form.duree) }}
                        </div>
												<div class="form-group">
                                {{ form_label(form.competencesRequises,"Competences Requises") }}
                                {{ form_widget(form.competencesRequises) }}
                        </div>
												<div class="form-group">
                                {{ form_label(form.experienceRequise,"Experience Requise") }}
                                {{ form_widget(form.experienceRequise) }}
                        </div>

                        <div class="form-group">
                                {{form_row(form.entreprise)}}
                        </div>



                        <center><button class="btn btn-primary" type="submit" >Valider</button></center>
                        {{ form_rest(form) }}
			</form>
				</div>
			</div>
		</div>

        <div class="col-md-4">
		</div>

	</div>

</div>
{{ form_end(form)}}

{% endblock %}
