{% extends 'base.html.twig' %}

{% block contenu %}

<div class="container-fluid">
  <div class="row">
  		{%for entreprise in entreprises%}
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">Nom : {{entreprise.nom}}</h5>
				  <p class="card-text">Adresse : {{entreprise.adresse}}</p>
				  <p class="card-text">Activité : {{entreprise.activite}}</p>
				  <p class="card-text">Site : {{entreprise.site}}</p>
				  <a href="{{path('prostages_entreprises_stage',{'nom' : entreprise.nom})}}" class="btn btn-primary">Plus de détails</a>
          <a href="/modifier-entreprise/{{entreprise.nom}}" class="btn btn-primary">Modifier l'entreprise</a>
				</div>
			</div>
		</div>
		{%endfor%}
    </div>
</div>
<br>
<br>
<br>
<center>
  <button class="btn btn-primary"><a href="/creer-entreprise"><font color="white">Créer une Entreprise</font></a></button>
</center>
{% endblock %}
