{% extends 'base.html.twig' %}

{% block contenu %}

<div class="container-fluid">
  <div class="row">
			<div class="col-md-4 col-xs-1 mx-auto">
				<div class="card">
					<div class="card-body">
					<img src="https://picsum.photos/300/" class="card-img-top" alt="Image">
					  <h5 class="card-title">Titre : {{stage.titre}} </h5>
					  <p class="card-text">Durée : {{stage.duree}}</p>
					  <p class="card-text">Date de début : {{stage.dateDebut | date("d/m/Y")}} jours</p>
					  <p class="card-text">Entreprise : {{stage.entreprise.nom}}</p>
					  <p class="card-text">Descriptif : {{stage.descriptif}}</p>
					</div>
				</div>
			</div>
    </div>
</div>
<button class="btn btn-primary"><a href="/creer-stage"><font color="white" >Créer un stage </font></a></button>
{% endblock %}
